<div class="panel-heading todo-header" role="tab" [attr.id]="'todo-head-' + orderIndex">
  <h4 class="panel-title">
    <a role="button" class="link-button"
       data-toggle="collapse"
       data-parent="#accordion"
       aria-expanded="false"
       [attr.href]="'#todo-list-' + orderIndex"
       [attr.aria-controls]="'todo-list-' + orderIndex">
      {{ todoList.title }} <b>{{ todoList.todos.length }}</b>
    </a>
  </h4>
  <div class="controls">
    <span class="btn btn-danger" type="button" data-toggle="modal" [attr.data-target]="'#deleteTodoList' + orderIndex">Delete</span>
  </div>
</div>
<div [attr.id]="'todo-list-' + orderIndex" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'todo-head-' + orderIndex">
  <div class="panel-body">
    <div class="todo-list-items" *ngIf="todoList.todos.length > 0; else noTodyMessage">
      <app-todo *ngFor="let todo of todoList.todos" [todo]="todo"></app-todo>
    </div>
    <ng-template #noTodyMessage>
      <div class="alert alert-info">There is no any todo! Create new!</div>
    </ng-template>
    <hr>
    <app-todo-form (onCreate)="onCreateTodoHandler($event)"></app-todo-form>
  </div>
</div>

<div class="modal fade" [attr.id]="'deleteTodoList' + orderIndex" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Delete Todo List?</h4>
      </div>
      <div class="modal-body">
        Are you sure that you want to remove the Todo List "{{ todoList.title }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDeleteTodoListHandler($event)">Yes</button>
      </div>
    </div>
  </div>
</div>
