.todo-header
{
    padding: 0 !important;
    position: relative;
}

.todo-header .link-button
{
    padding: 15px;
    display: block;
    text-decoration: none;
}

.todo-header .controls
{
    position: absolute;
    top: 7px;
    right: 10px;
}